[Unit]
Description="webhooks@Author becivells git webhooks"
After=rc-local.service nss-user-lookup.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/webhooks -c /etc/webhooks.yaml

[Install]
WantedBy=multi-user.target